# Ignore Python bytecode files
*.pyc
# Ignore log files
*.log
# Ignore virtual environment directories
venv/
# Ignore IDE specific files
.idea/
.vscode/
# Ignore system files
.DS_Store
Thumbs.db
# Ignore Python cache directories
__pycache__/

# Mypy cache
.mypy_cache/

# Local Build directories
build/
dist/

# PyInstaller specific files
*.spec
klogger.spec